 <body>
	<div class="wrapper">
		
       <app-biblio-hearder></app-biblio-hearder>
		<app-biblio-sidebar></app-biblio-sidebar>       
        
        <div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-head-row">
										<div class="card-title">Enregistrer Livre</div>
									</div>
								</div>
								<div class="card-body">
									<form #addForm="ngForm" (ngSubmit)="addLivre(addForm)">
										<div class="row mt-3">
											<div class="col-md-8 offset-2">
												<div class="form-group form-group-default">
													<label>Libelle*</label>
													<input ngModel type="text" class="form-control" name="libelle">
												</div>
											</div>
											<div class="col-md-8 offset-2">
												<div class="form-group form-group-default">
													<label>Auteur</label>
													<input ngModel type="auteur" class="form-control" name="auteur">
												</div>
											</div>
											<div class="col-md-8 offset-2">
												<div class="form-group form-group-default">
													<label>Ouvrage</label>
													<input ngModel type="text" class="form-control" name="ouvrage">
												</div>
											</div>
											<div class="col-md-8 offset-2" style="display:none">
												<div class="form-group form-group-default">
													<label>Etat</label>
													<input ngModel=false type="text" class="form-control" name="etat">
												</div>
											</div>
										</div>
										<div class="text-center mt-3 mb-3">
											<button class="btn btn-success">Enregistrer</button>
											<button [disabled]="addForm.invalid" class="btn btn-danger">Annuler</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    </div>
</body>