<!--<body>
	<div class="wrapper">
		
        <app-admin-hearder></app-admin-hearder>
		<app-admin-sidebar></app-admin-sidebar> -->

			<div class="main-panel">
				<div class="content">
					<div class="page-inner">
						<div class="page-header">
							<h4 class="page-title">Tous les Livres</h4>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="card-head-row">
											<div class="card-title">Voir tous les Livres</div>
										</div>
									</div>
									<div class="card-body">
										<table id="basic-datatables" class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4">
											<thead>
												<tr>
													<th scope="col">Id</th>
													<th scope="col">Libelle</th>
													<th scope="col">Auteur</th>
													<th scope="col">Type</th>
                                                    <th scope="col">Etat</th>
												</tr>
											</thead>
											<tbody *ngFor="let livre of livres">
												<tr>
													<td>{{livre.id}}</td>
													<td>{{livre.libelle}}</td>
													<td>{{livre.auteur}}</td>
													<td>{{livre.ouvrage}}</td>
                                                    <td *ngIf="livre.etat">disponible</td>
                                                	<td *ngIf="!livre.etat">indisponible</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--	</div>
</body> -->